<html>
    <head>
        <link rel="stylesheet" href="/assets/bootstrap-5.2.3-dist/bootstrap-5.2.3-dist/css/bootstrap.min.css">
        <script src="/assets/bootstrap-5.2.3-dist/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
        <script src="/assets/jquery/jquery-3.7.1.min.js"></script>
        <style>
          .feeding-time-div {
            display: flex;
            align-items: center;
          }
        </style>
    </head>
    <body class="bg-light">

<div class="container py-5">

  <h1 class="mb-4 text-center">IoT Based Room Temperature Monitoring System with Automated Fan Opening and Smart Food Dispensing for Pets and SMS Notification.</h1>

  <div class="row g-4 mb-3 border-bottom pb-3">
    <div class="col-md-3">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Room Temperature</h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-end">
            <div class="fs-3 current-temp">-</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Fan Status</h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-end">
            <div class="fs-3 current-fan-status">-</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Pet feeder</h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-end">
            <div class="fs-3 open-pet-feeder">
              <button type="button" class="btn btn-secondary btn-sm">Open pet feeder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-4 mb-3 border-bottom pb-3">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Temperature history</h5>
        </div>
        <div class="card-body">
          <div>
            <table class="table table-sm" id="temperature-logs">
              <thead>
                <tr>
                  <th>Temperature</th>
                  <th>Last time recorded</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Fan logs</h5>
        </div>
        <div class="card-body">
          <div>
            <table class="table table-sm"  id="fan-logs">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Trigger</th>
                  <th>Timestamp</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Pet feeder logs</h5>
        </div>
        <div class="card-body">
          <div>
            <table class="table table-sm"  id="pet-feeder-logs">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Timestamp</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">SMS Notification logs</h5>
        </div>
        <div class="card-body">
          <div>
            <table class="table table-sm" id="sms-notif-logs">
              <thead>
                <tr>
                  <th>Receiver</th>
                  <th>Message</th>
                  <th>Status</th>
                  <th>Timestamp</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row g-4">
    <!-- Temperature Card -->
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Input Temperature to open the fan</h5>
        </div>
        <div class="card-body">
          <form id="tempForm">
            <div class="mb-3">
              <label class="form-label">Temperature (°C)</label>
              <input type="number" class="form-control" name="temperature" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Save Temperature</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Pet Feeding Time Card -->
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Pet Feeding Scheule list</h5>
        </div>
        <div class="card-body">
          <form id="feedingForm">
            <div id="feedingTimes">
              <div class="feeding-time-div">
                <div class="mb-3 feeding-item">
                  <label class="form-label">Feeding Time</label>
                  <input type="time" class="form-control" name="feeding_time[]" required>
                </div>
                <div class="ms-2">
                  <button type="button" class="btn btn-sm btn-outline-danger">Remove</button>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-outline-primary w-100 mb-2" id="addFeedingTime">
              + Add Another Time
            </button>

            <button type="submit" class="btn btn-primary w-100">Save Feeding Times</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Mobile Numbers Card -->
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Mobile Numbers for SMS Notification</h5>
        </div>
        <div class="card-body">
          <form id="mobileForm">
            <div id="mobileNumbers">
              <div class="mb-3 mobile-item">
                <label class="form-label">Mobile Number</label>
                <input type="text" class="form-control mobile-number-input" name="mobile_number[]" placeholder="+639XXXXXXXXX" required>
              </div>
            </div>

            <button type="button" class="btn btn-outline-primary w-100 mb-2" id="addMobileNumber">
              + Add Another Number
            </button>

            <button type="submit" class="btn btn-primary w-100">Save Numbers</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  let MAX_TEMP = 25; // DEFAULT
    // Add feeding time input
    $('#addFeedingTime').on('click', function () {
        $('#feedingTimes').append(`
          <div class="feeding-time-div">
            <div class="mb-3 feeding-item">
              <label class="form-label">Feeding Time</label>
              <input type="time" class="form-control" name="feeding_time[]" required>
            </div>
            <div class="ms-2">
              <button type="button" class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
          </div>
        `);
    });

    // Add mobile number input
    $('#addMobileNumber').on('click', function () {
        $('#mobileNumbers').append(`
          <div class="feeding-time-div">
            <div class="mb-3 mobile-item">
              <label class="form-label">Mobile Number</label>
              <input type="text" class="form-control mobile-number-input" name="mobile_number[]" placeholder="+639XXXXXXXXX" required>
            </div>
            <div class="ms-2">
                <button type="button" class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
          </div>
        `);
    });
    $(document.body).on('keyup', '.mobile-number-input',function () {
      const value = $(this).val();

      if (/^(09|\+639|639)\d{9}$/.test(value)) {
        $(this).addClass('is-valid').removeClass('is-invalid');
      } else {
        $(this).addClass('is-invalid').removeClass('is-valid');
      }
    });


    // Form submit handlers (optional)
    $('#tempForm').on('submit', function (e) {
        e.preventDefault();
        let temp_value = $("#tempForm input[name='temperature']").val();

      $.ajax({
          url: "/api/save_temperature_settings",
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          data: JSON.stringify({
            "tempValue": temp_value
          }),
      }).done(function (data) {
        alert(data.description)
      });

    });

    $('#feedingForm').on('submit', function (e) {
        e.preventDefault();
        const feedingTimes = [];
        $('#feedingForm [name="feeding_time[]"]').each(function () {
            feedingTimes.push($(this).val());
        });
        console.log("feedingTimes>>>>", feedingTimes);

        $.ajax({
          url: "/api/save_feeding_time",
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json"
          },
          data: JSON.stringify({
            feeding_times: JSON.stringify(feedingTimes)
          }),
        }).done(function (data) {
          alert(data.description)
          getFeedingTime();
        });
    });

    $('#mobileForm').on('submit', function (e) {
        e.preventDefault();
        const mobileNumbers = [];
        $('#mobileForm input[name="mobile_number[]"].is-valid').each(function () {
            mobileNumbers.push($(this).val());
        });
        console.log("Mobile numbers", mobileNumbers); 

        $.ajax({
          url: "/api/save_mobile_number",
          method: "POST",
          timeout: 0,
          headers: {
            "Content-Type": "application/json"
          },
          data: JSON.stringify({
            "mobile_numbers": JSON.stringify(mobileNumbers)
          }),
        }).done(function (data) {
          alert(data.description)
          getMobileNumberList();
        });

    });
    $(document.body).on("click", ".remove-feeding-time", function() {
      let feeding_id = $(this).data("feeding_time_id");
      // 
      $.ajax( {
        url: "/api/remove_feeding_time",
        method: "POST",
        timeout: 0,
        headers: {
          "Content-Type": "application/json"
        },
        data: JSON.stringify({
          feeding_time_id: feeding_id
        }),
      }).done(function (data) {
        alert(data.description)
        getFeedingTime();
      });
    })
    $(document.body).on("click", ".remove-mobile-number", function() {
      let mobile_number_id = $(this).data("mobile_number_id");
      // 
      $.ajax( {
        url: "/api/remove_mobile_number",
        method: "POST",
        timeout: 0,
        headers: {
          "Content-Type": "application/json"
        },
        data: JSON.stringify({
          mobile_number_id: mobile_number_id
        }),
      }).done(function (data) {
        alert(data.description)
        getMobileNumberList();
      });
    });
    $(document.body).on("click", ".open-pet-feeder button", function() {
      $.ajax({
        "url": "/api/manual-feeder",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        if (!data) {
          return; 
        }
        alert(data.description)
        generatePetFeederLogs();
      });
    })
    $(document.body).on("click", ".current-fan-status button", function() {
      $.ajax({
        "url": "/api/manual-fan-opening",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        if (!data) {
          return; 
        }
        alert(data.description)
        generateFanLogs();
      });
    })
    const getTemperature = () => {
      $.ajax({
        "url": "/api/get_temperature_config",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        if (!data) {
          return; 
        }

        if (data.length) {
          MAX_TEMP = data[0].temperature
          $("#tempForm input[name='temperature']").val(data[0].temperature);
        }
      });
    }
    const getFeedingTime = () => {
      $.ajax({
        "url": "/api/get_feeding_time",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        console.log(data);
        if (data.length) {
          $('#feedingTimes').empty();
          data.map(x=>{
            $('#feedingTimes').append(
              $("<div>").addClass("feeding-time-div").append(
                $("<div>").addClass("mb-3 feeding-item").append(
                  $("<label>").addClass("form-label").text("Feeding Time"),
                  $("<input>").attr({
                    type: 'time',
                    class: 'form-control',
                    name: 'feeding_time[]',
                    required: true,
                    value: x.time
                  }),
                ),
                $("<div>").addClass("ms-2").append(
                  $("<button>").attr({
                    type: "button",
                    class: "btn btn-sm btn-outline-danger remove-feeding-time"
                  }).data({
                    feeding_time_id: x.id
                  }).text("Remove")
                ),
              )
            );
          })          
        }
      });
    }

    const getMobileNumberList = () => {
      $.ajax({
        "url": "/api/get_mobile_number",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        console.log(data);
        if (data.length) {
          $('#mobileNumbers').empty();
          data.map(x=>{
            $('#mobileNumbers').append(
              $("<div>").addClass("feeding-time-div").append(
                $("<div>").addClass("mb-3 feeding-item").append(
                  $("<label>").addClass("form-label").text("Mobile Number"),
                  $("<input>").attr({
                    type: 'text',
                    class: 'form-control mobile-number-input is-valid',
                    name: 'mobile_number[]',
                    required: true,
                    value: x.mobile_number
                  }),
                ),
                $("<div>").addClass("ms-2").append(
                  $("<button>").attr({
                    type: "button",
                    class: "btn btn-sm btn-outline-danger remove-mobile-number"
                  }).data({
                    mobile_number_id: x.id
                  }).text("Remove")
                ),
              )
            );
          })          
        }
      });
    }
    const generateTemperatureLogs = () => {
      $.ajax({
        "url": "/api/temperature-logs",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        $("#temperature-logs tbody").empty();
        data.map((x, y)=>{
          let button_badge = parseFloat(x.temperature) > parseFloat(MAX_TEMP) ? "btn btn-danger btn-sm" : "btn btn-success btn-sm";
          if (y == 0) {
            $(".current-temp").empty();
            $(".current-temp").append(
              $("<button>").attr({
                type: "button",
                class: button_badge,
              }).text(x.temperature + "°C")
            )
          } 
          $("#temperature-logs tbody").append(
            $("<tr>").append(
              $("<td>").append(
                $("<button>").attr({
                  type: "button",
                  class: button_badge,
                }).text(x.temperature + "°C")
              ),
              $("<td>").text(x.last_timestamp_checked ? new Date(x.last_timestamp_checked).toLocaleString() : new Date(x.timestamp).toLocaleString()),
            )
          )
        })
      });
    }
    const generateFanLogs = () => {
      $.ajax({
        "url": "/api/fan-logs",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        $("#fan-logs tbody").empty();
        data.map((x, y)=>{
          let fan_status = x.is_fan_on ? "ON" : "OFF";
          let button_badge = x.is_fan_on ? "btn btn-success btn-sm" : "btn btn-danger btn-sm";
          let is_manual_trigger =  x.is_manual_trigger ? "MANUAL" : "AUTOMATIC";;
          if (y == 0) {
            $(".current-fan-status").empty()
            $(".current-fan-status").append(
              $("<button>").attr({
                  type: "button",
                  class: button_badge,
                }).text(fan_status)
            )
          } 
          $("#fan-logs tbody").append(
            $("<tr>").append(
              $("<td>").append(
                $("<button>").attr({
                  type: "button",
                  class: button_badge,
                }).text(fan_status)
              ),
              $("<td>").text(is_manual_trigger),
              $("<td>").text(new Date(x.timestamp).toLocaleString()),
              
            )
          )
        })
      });
    }
    const generatePetFeederLogs = () => {
      $.ajax({
        "url": "/api/pet-feeder-logs",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        $("#pet-feeder-logs tbody").empty();
        data.map(x=>{
          let status_badge = x.status == "SUCCESS" ? "badge bg-success" : "badge bg-danger";
          $("#pet-feeder-logs tbody").append(
            $("<tr>").append(
              $("<td>").append(
                $("<span>").addClass(status_badge).text(x.status)
              ),
              $("<td>").text(new Date(x.timestamp).toLocaleString()),
            )
          )
        })
      });
    }
    const generateSMSNotificationLogs = () => {
      $.ajax({
        "url": "/api/sms-notif-logs",
        "method": "GET",
        "timeout": 0,
      }).done(function (data) {
        $("#sms-notif-logs tbody").empty();
        data.map(x=>{
          let status_badge = x.status == "SUCCESS" ? "badge bg-success" : "badge bg-danger";
          $("#sms-notif-logs tbody").append(
            $("<tr>").append(
              $("<td>").text(x.receiver_number),
              $("<td>").text(x.message),
              $("<td>").append(
                $("<span>").addClass(status_badge).text(x.status)
              ),
              $("<td>").text(new Date(x.timestamp).toLocaleString()),
            )
          )
        })
      });
    }
    const checkIfValidMobileNumber = num => {
      return /^(09|\+639|639)\d{9}$/.test(num);
    }

    getTemperature();
    getFeedingTime();
    getMobileNumberList();

    generateTemperatureLogs();
    generatePetFeederLogs();
    generateSMSNotificationLogs();
    generateFanLogs();
</script>

</body>
</html>